# requirements.txt
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic

langchain
langchain-groq
langchain-core
langchain-openai
langchain-community
langgraph
langchain-huggingface
langchain_chroma
sentence-transformers
chromadb
groq

thefuzz
pydantic-settings
