# requirements.txt
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic

langchain
langchain-groq
langchain-core
langchain-openai
langchain-community
langgraph
groq

thefuzz
pydantic-settings
